target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
.vscode/
.DS_Store

*.log
HELP.md

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
